body{
  background-color: violet;
  background-position: center;
  background-size: contain;
  width: 200px auto;
  height: 200px auto;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRrXbvBrhQScCtY5lugPLygoqROBZeaOEFuveNwoE4kFBXxssOOww");
  text-align: center;
  background-repeat: no-repeat;

}
p{
  color: blue;
}
li{
  list-style-type: none;
  color: green;
}
